html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
}

* {
    color: $deepestGrey;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1em;
}

a, img {
    border: none;
}

a:hover {
    text-decoration: none;
}
