.cross-sell {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;

    &__title {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 1.7em;
        color: $softGrey;
    }

    &__visited {
        float: left;
        width: 25%;
    }

    &__recommendation {
        float: left;
        width: 75%;
        overflow: hidden;

        &__products {
            @include fade(margin-left);
            min-height: 501px;
        }
    }
}
